<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Load FontAwesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Load Custom CSS -->
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">

    <!-- Load Page Specific heads -->
    {% block head_tag %}{% endblock head_tag %}
</head>

<body>
    <!-- Load Page Header -->
    {% include 'includes/header.html' %}
    <div class="container">
        <!-- Load Page Messages (Warnings, errors, etc) -->
        {% include 'includes/alerts.html' %}

        <!-- Load Page Content -->
        {% block page_content %}{% endblock page_content %}
    </div>

    </div>
    <!-- Load Page Footer -->
    {% include 'includes/footer.html' %}

    <!-- Load JS Files for Bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Load any page specific scripts -->
    {% block page_scripts %}{% endblock page_scripts %}
</body>

</html>